li img {
    width: 50%;
    vertical-align: text-top;
}

.contact .php-email-form button[type=submit] {
	background: rgb(189, 93, 56)
}

#title-section {
	/* margin-top: -15rem; */
}

.icon {
	height: 80px;
	width: 80px;
	display: inline-block;
}

.icon-html5 {
	/* background: red; */
	/*background-image: url("../assets/img/desert-island.jpg");*/
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../assets/img/html5.png");
}

:root {
	--background-lightbulb-img: url("../assets/img/hanging-light-bulb-off.jpg");
	--project-2-mobile-img: url("../assets/img/project2-mobile.png");
	--project-2-desktop-img: url("../assets/img/project2-desktop.png");
	--top-light: url("../assets/img/hanging-light-bulb-off.jpg");
}

.profile-img {
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: var(--background-lightbulb-img);
	transition: background-image 1s;
	background-clip: content-box;
}

#profile-img {
	height: 10rem;
	width: 10rem;
	/* overflow: hidden; */
}

#project-2-mobile-img {
	height: 29rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: var(--project-2-mobile-img);
	transition: background-image 1s;
	background-clip: content-box;
}

#project-2-desktop-img {
	height: 29rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: var(--project-2-desktop-img);
	transition: background-image 1s;
	background-clip: content-box;
}

#light-btn {
	height: 10rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: var(--top-light);
	transition: background-image 1s;
	position: sticky;
	top: 3.5rem;
	/* left: 20rem; */
	margin-left: 80%;
	cursor: pointer;
}

@media (min-width: 992px) {
  #light-btn {
		display: none;
	}
}

[data-theme="dark"] {
  filter: invert(100%);
	--background-lightbulb-img: url("../assets/img/hanging-light-bulb-on.jpg");
	--project-2-mobile-img: url("../assets/img/project2-mobile-inv.png");
	--project-2-desktop-img: url("../assets/img/project2-desktop-inv.png");
	--top-light: url("../assets/img/hanging-light-bulb-on.jpg")
}


:root {	
 transition: filter 1s;
}

section#contact {
    padding-bottom: 0;
}

#contact-section {
	/* border: 1px; */
	/* border-style: solid; */
	padding-left: 2rem;
	padding-right: 2rem;
}

/*
@keyframes pulse {
	0% {
	 transform: scale(1, 1);
	}

	50% {
	 transform: scale(1.1, 1.1);
	}

	100% {
	transform: scale(1, 1);
	}
}


#profile-img {
	animation: pulse 1s linear infinite;
}
*/

#profile-img:hover{ 
  animation: pulse 1s;
  animation-timing-function: linear;   
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);
  100% { transform: scale(1); }
  }
}