/*GENERAL 

breakpoints 275, 576, 768, 922, 1200, 1400 
*/
:root {
	--desktop-lightbulb-img: url("../assets/img/inkscape/new-bulb-off.svg");
	--top-light: url("../assets/img/inkscape/hanging-bg-bulb-off.svg");

	--hover-light: url("../assets/img/inkscape/new-bulb-on.svg");
	
	--project-2-mobile-img: url("../assets/img/project2-mobile.png");
	--project-2-desktop-img: url("../assets/img/project2-desktop.png");

	--html5-logo: url("../assets/img/logos/HTML5_Badge_128.png");

	transition: filter 1s;
	
}

body {
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 0;
	background-color: white;
}

.default-cursor {
	cursor: default;
}

.pointer {
	cursor: pointer;
}

hr {
	opacity: 1;
	color: #dee2e6;
}


/* Parallax styles OLD

  .parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
		padding: 20vh 0 !important;
		
  }

	.parallax__layer--back {
		display: none;	
	}

	@media (min-width: 275px) {
	
		.parallax__layer--back {
			/*display: inherit;
			-webkit-transform: translateZ(-8.5px) scale(5);
			transform: translateZ(-8px) scale(1);
			z-index: 1;
			padding: 0vh 0 !important;
			width: 112vw;
			margin-left: 276vw;
		}
		
	}
	
	@media (min-width: 768px) {
	
		.parallax__layer--back {
			/*display: inherit;
			-webkit-transform: translateZ(-7.5px) scale(6);
			transform: translateZ(-7.5px) scale(6);
			z-index: 20;
			padding: 165vh 0 !important;
			width: 67vw;
		}
	
	}

	@media (min-width: 992px) {
	
		.parallax__layer--back {
		 display: none
		}
		
	}

*/


  /* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-3935px) scale(3);
    z-index: 2;
  }

	.title {
    text-align: center;
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* -webkit-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
  }



  /* Debugger styles - used to show the effect
  --------------------------------------------- */

  .debug {
    position: fixed;
    top: 0;
    left: 4.5em;
    z-index: 1999;
    background: rgba(0,0,0,.85);
    color: #fff;
    padding: .5em;
    border-radius: 0 0 5px 5px;
  }
  .debug-on .parallax__group {
    -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
 }
  .debug-on .parallax__layer {
    box-shadow: 0 0 0 2px #000;
    opacity: 0.9;
  }
  .parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }


  /* demo styles
  --------------------------------------------- 

  body, html {
    overflow: hidden;
  }

  body {
    font: 100% / 1.5 Arial;
  }

  * {
    margin:0;
    padding:0;
  }

  .parallax {
    font-size: 400%;
  }
  
*/

  /* style the groups
  --------------------------------------------- */

  #group1 {
    z-index: 5; /* slide over group 2 */
  }
  #group1 .parallax__layer--base {
    background: white;
  }

  #group2 {
    z-index: 3; /* slide under groups 1 and 3 */
  }
  #group2 .parallax__layer--back {
    background: rgb(123,210,102);
  }

  #group3 {
    z-index: 4; /* slide over group 2 and 4 */
  }
  #group3 .parallax__layer--base {
    background: rgb(153,216,101);
  }

  #group4 {
    z-index: 2; /* slide under group 3 and 5 */
  }
  #group4 .parallax__layer--deep {
    /* text-align: center; */
    width: 287vw;
    width: 370
vw;
    height: 100
vh;
    /* background: #f9fafb; */
    margin-left: -98vw;
  }

  #group5 {
    z-index: 3; /* slide over group 4 and 6 */
  }
  #group5 .parallax__layer--base {
    background: rgb(214,229,100);
  }

  #group6 {
    z-index: 2; /* slide under group 5 and 7 */
  }
  #group6 .parallax__layer--back {
    background: rgb(245,235,100);
  }

  #group7 {
    z-index: 3; /* slide over group 7 */
  }
  #group7 .parallax__layer--base {
    background: rgb(255,241,100);
  }
	

/* Foreground styles*/

.hr-fg {
	display: none;
}

/*GENERAL SECTIONS */

.section-gap {
	height: 61vh;
}

section#about, section#contact, section#skills {
	min-height: 100vh;
}

section.resume-section .resume-section-content {
  width: 100%;
}

section#project2,	section#project1, section#skills, section#download-cv {
	min-height: 100vh;
	align-items: start;
	padding-top: 3.5rem;
	padding-right: 1.5rem;
	/* justify-content: center; */
	/* background-color: white; */
}


@media (min-width: 768px) {
	
	section#projects, section#skills {
			width: 80%;
	}
	
}

/*List styles*/

li img {
	width: 50%;
	vertical-align: text-top;
}

.fa-ul {
margin: 0;
}

/*ABOUT SECTION */

#title-section {
  width: 100%;
}

.fs-word {
	display: flex;
	flex-wrap: nowrap
}

.letters {
	display: flex;
	flex-wrap: wrap;
	font-size: calc(1.75rem + 5.7vw);
	cursor: default;
	width: 90%;
}

@media (min-width: 768px) {
		
	.letters {
		width: 100%;
	}

}

.text-wrapper {
  color: white
}

.ml11 {
  font-weight: 700;
  font-size: 3.5em;
  color: white;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  color: #212529
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #212529;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}


/* SKILLS SECTION */

section#skills {
	background-color: white;
}

#skills-info {

background: white;

padding-bottom: 2rem;
}

.icon {
	height: calc(1.25rem + 5.7vw);
	width: calc(1.25rem + 5.7vw);
	display: inline-block;
}

.cv-icon {
	height: calc(3.25rem + 5.7vw);
	width: calc(3.25rem + 5.7vw) !important;
	/* display: inline-block; */
	/* padding-top: 20vh; */
	background: #dee2e6;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: 10%;
}

.icon-html5 {
	background-size: contain;
	background-repeat: no-repeat;
	background-image: var(--html5-logo);
	transition: background-image 1s;
}

#certs-list {
  padding: 0
}

.cert-image {
	height: calc(2rem + 5.7vw);
	width: calc(2rem + 5.7vw);
	margin-right: 1rem;
}

.cert-item {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

/*PROJECT 1 & 2 */

section#project1 {
	background-color: white;
}

#portfolio1-title, #portfolio2-title {
  margin-bottom: 1rem !important;
  display: inline;
}


.project-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.project-text {
    margin-top: 2rem;
}

.project-link {
	width: 100%;
	text-align: center;
	margin-top: 1rem;
}

#project1-title, #project2-title {
  min-width: 60%;
  z-index: 50;
}

.project-screenshot {
	max-width: 80%;
	margin-top: 7rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@media (min-width: 576px) {

.project-screenshot {
	max-width: 80%;
	margin-top: 2rem;
}

	
}



section#project2 {
	background-color: white;
}

#project-2-mobile-img {
	height: 29rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: var(--project-2-mobile-img);
	transition: background-image 1s;
	background-clip: content-box;
}

#project-2-desktop-img {
	height: 29rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: var(--project-2-desktop-img);
	transition: background-image 1s;
	/* background-clip: content-box; */
}

/* DOWNLOAD CV */

#cv-box {
	
margin-top: 31rem;
	
width: fit-content;
	
margin-left: auto;
	
margin-right: auto;
	
background: white;
}

#download-cv-heading {
	background: white;
	padding-bottom: 6rem;
	padding-top: 5rem;
}

.center-align {
	text-align: center;
}

#pdf-icon {
	padding-top: 0vh;
}


/*CONTACT SECTION*/

section#contact {
	background-color: white;
}

.contact .php-email-form button[type=submit] {
	background: rgb(189, 93, 56)
}

section#contact {
    padding-bottom: 0;
}

#contact-section {
	/* border: 1px; */
	/* border-style: solid; */
	padding-left: 2rem;
	padding-right: 2rem;
	width: 100%;
}

/* LIGHTS */

#desktop-light {
  height: 10rem;
  width: 10rem;
	border: 0.3rem solid rgb(189 93 56);
	cursor: pointer;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: var(--desktop-lightbulb-img);
	transition: background-image 1s;
	background-clip: content-box;
	background-color: white;
}

#light-btn {
	height: 234vh;
	/* width: 100%; */
	/* border: 0.35rem solid rgb(189 93 56); */
	/* float: right; */
	background-size: contain;
	background-repeat: no-repeat;
	background-image: var(--top-light);
	background-position: bottom;
	transition: background-image 1s;
	/* position: sticky; */
	/* top: -6.5rem; */
	cursor: pointer;
	/* background-color: white; */
	/* margin-top: -184rem; */
	/* color: bisque; */
	/* padding-top: 0rem; */
}

@media (min-width: 992px) {
  
	/*
	#light-btn {
		display: none;
	}
	*/

	#desktop-light:hover {
		transition: background-image .5s;
		background-image: var(--hover-light);
	}	

}


/*
@media (min-width: 576px) {


	
}


@media (min-width: 1200px) {
 {

  }
}
@media (min-width: 1400px) {
 {

  }
}
*/

/*DARK THEME */

[data-theme="dark"] {
  filter: invert(100%);
	--desktop-lightbulb-img: url("../assets/img/inkscape/new-bulb-on.svg");
	--top-light: url("../assets/img/inkscape/hanging-bg-bulb-on.svg");

	--hover-light: url("../assets/img/inkscape/new-bulb-on.svg");
	
	--project-2-mobile-img: url("../assets/img/project2-mobile-inv.png");
	--project-2-desktop-img: url("../assets/img/project2-desktop-inv.png");

	--html5-logo: url("../assets/img/logos/HTML5_Badge_128_inv.png");
}


/*ANIMATION STUFF */

/*
@keyframes pulse {
	0% {
	 transform: scale(1, 1);
	}

	50% {
	 transform: scale(1.1, 1.1);
	}

	100% {
	transform: scale(1, 1);
	}
}


#profile-img {
	animation: pulse 1s linear infinite;
}


#profile-img:hover{ 
  animation: pulse 1s;
  animation-timing-function: linear;   
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);
  100% { transform: scale(1); }
  }
}
*/