body {
  min-width: 350px;
}

#pc-table {
  width: 100%;
  border: none;
  padding-right: 0;
  margin-top: -0.2rem;
  margin-left: auto;
  margin-right: auto
}

#nav-menu {
  margin-bottom: 0px;
  position: sticky;
  z-index: 2;
  top: 0;
  height: 4rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#top-nav {
  margin-bottom: 0px;
  position: fixed;
  z-index: 5;
  top: 0;
  min-height: 4rem;
  width: 100%;
  box-shadow: none;
  padding: 0;
}

#top-nav-items {       
  padding-top: 0.5rem;
}


#search-box {
  max-width: 23rem;
  margin-left: auto;
  margin-right: auto;
}

#company-logo {
  width: 30%;
  text-align: center;
  padding-top: 1rem;
}

#mobile-search-options {
  display: none;
}

#search-accordion {
  display: flex;
  justify-content: center
}

#mobile-search-options-wrapper {
  width: 100%;
  padding: 0 3rem
}

.mobile-radio-field {
  width: fit-content !important
}

#grid-view {
  margin: 0;
  display: block;
}

#pc-search {
  position: fixed;
  width: 30%;
  top: 4rem;
  height: 100%;
  margin: 0;
  border-top: 0;
}

#pc-search-column-wrapper {
  display: flex;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

#pc-search-column {
  width: 40%;
}

.ui.checkbox {
  display: block;
}

#pc-table-segment {
  width: 100%;
  margin-top: 0;
  padding: 0;
  border-top: none;
}

#last-search-option {
  margin-bottom: 1rem;
}

thead {
  position: sticky;
  top: 4rem;
  z-index: 2;
  background: #F9FAFB;
}

th,
td {
  width: 50%;
  border-right: 1px solid rgba(34, 36, 38, 0.1);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(34, 36, 38, 0.1);
}
}

.break {
  flex-basis: 100%;
  height: 0;
}

#footer {
  position: fixed;
  background: grey;
  width: 90%;
  height: 5vh;
  top: 95vh;
}

#first-employee {
  visibility: hidden;
}

h1 {
  margin: 0 !important
}

.employee-panel-name {
  display: flex;
  flex-wrap: wrap;
}

td#employee-details-field {
  border-left: none;
  position: sticky;
  z-index: 1;
  top: 9rem;
  border-left: none;
  vertical-align: top;
}

.employee-detail-fields {
  visibility: hidden;
}

.email-address {
  word-break: keep-all
}

.employee-panel-btn {
  display: block !important;
  margin-left: auto !important;
  margin-bottom: 1rem !important;
}

.alert-modal-text {
  text-align: center;
}

.display-none-field {
  display: none !important;
}

.hidden-field {
  visibility: hidden;
}

#employee-details-modal {
  min-width: 330px;
}

#manage-depts-and-locs,
#employee-modal-create-fields,
#employee-modal-edit-fields,
#employee-modal-view-fields,
#close-employee-modal,
#submit-create-employee,
#submit-edit-employee,
#edit-employee-modal-btn,
#delete-employee-modal-btn,
#delete-department-modal-btn,
#update-employee-modal-btn,
#create-employee-btn-mobile,
#submit-depts-and-locs,
#create-new-location-btn {
  display: none;
}

.employee-modal-btn {
  display: none !important;
}

#delete-employee-btn {
  float: left
}

.scrolling.image.content {
  display: block !important;
}

.description {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.employee-btn {
  float: right;
  display: none !important;
}

h4.ui.image.header {
  display: inline;
}

.default.text {
  color: black !important;
}

.input[type="text"]:focus {
  border-color: #22242626;
}

.manage-dept-row {
  margin-top: 1rem;
}

.department-details {
  margin-bottom: 1rem;
}

.manage-dept-btns {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.dept-action-button {
  margin-bottom: 0.5rem !important;
}

.location-message-panel {
  background-color: white !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.ui.one.top.attached.black.disabled.button {
  text-align: left;
}

.department-field-container {
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.rename-accordion-buttons {
  display: flex;
  padding: 0.3rem 0;
}

.dept-employee-figure {
  margin: 0 !important;
  display: flex;
  align-self: center;
  font-weight: bold;
  margin-left: 0.5rem !important;
} 

.dept-name-field {
  display: flex;
  flex-grow: 1;
  margin: 0 !important;
  margin-right: 0.2rem !important;
}

.create-dept-btn {
  display: flex;
  padding: 0.5rem
}

#container-column {
  padding-top: 0
}

#location-accordion-segment {
  margin-top: 0;
  margin-bottom: 0;
  display: none
}

#accordion-title {
  display: none;
}

#create-new-location-btn {
  float: right
}

i.fas.fa-info-circle {
  float: right;
  font-size: 2rem;
  margin-right: 2rem;
}


i.fas.fa-user-plus {
  display: none;
}

i.fas.fa-users-cog {
  display: none;
}

i.fas.fa-user-edit {
  font-size: 4rem;
}


.employee-row-content {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

#scrolling-modal-pane {
  background-color: #d4d4d5;
}

#append-location-panels {
  padding-top: 1rem;
}

.dept-icon-buttons {
  text-align: center;
}

.edit-dept-icon {
  margin-right: 1rem;
}

#input-new-location-field {
  margin-bottom: 0.5rem;
}

#icon-block {
  width: 2rem;
  display: inline-block;
}

.employee-count-icon {
  float: right;
}

.mobile-category {
  display: flex
}

.mobile-checkbox {
  margin-bottom: 0.4rem
}

.mobile-checkbox-spacer {
  visibility: hidden;
}

.active-radio-checkbox {
  margin-top: 0.5rem;
}

#manage-depts-and-locs-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#close-mobile-accordion-options {
  float: right;
  margin-top: 0.5rem;
}

.last.container {
  margin-bottom: 300px !important;
}

h1.ui.center.header {
  margin-top: 3em;
}

h2.ui.center.header {
  margin: 4em 0em 2em;
}

h3.ui.center.header {
  margin-top: 2em;
  padding: 2em 0em;
}

@media only screen and (max-width: 767.98px) {


  i.fas.fa-user-plus {
    display: inline;
    float: right;
    font-size: 2rem;
    margin-right: 2rem;
    padding-top: 0.3rem;
  }

  i.fas.fa-users-cog {
    display: inline;
    font-size: 2rem;
    vertical-align: baseline;
    position: absolute;
    z-index: 30;
    left: 1.5rem;
    top: 1rem;
  }

  #employee-details-field,
  #employee-details-column,
  #pc-search-column,
  .employee-btn {
    display: none !important;
  }

  #create-employee-btn-mobile, #manage-depts-and-locs-btn {
    display: none;
    float: right;
  }

  #mobile-search-options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #pc-table {
    width: 90%;
    margin-top: 0.4rem;
  }

  thead {
    top: 5.5rem;
  }

  .employee-modal-btn {
    display: inherit !important;
    max-width: 10rem;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.column {
    padding-bottom: 0 !important;
  }


}